<table>
<thead>
  <tr>
    <th>selling:</th>
    <th><a href="https://kevinolega.com/" target="_blank" rel="noopener noreferrer">services</a></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td">documenting:</td>
    <td"><a href="https://businessideasph.com/" target="_blank" rel="noopener noreferrer">business ideas</a></td>
  </tr>
  <tr>
    <td">initiating:</td>
    <td"><a href="https://minimalchanges.com/" target="_blank" rel="noopener noreferrer">minimal changes</a></td>
  </tr>
  <tr>
    <td">community service:</td>
    <td"><a href="https://callcentertrainingtips.com/" target="_blank" rel="noopener noreferrer">call center training tips</a></td>
  </tr>
  <tr>
    <td">exploring:</td>
    <td"><a href="https://philippineislandliving.com/" target="_blank" rel="noopener noreferrer">philippines</a></td>
  </tr>
  <tr>
    <td">twitter:</td>
    <td"><a href="https://twitter.com/kevinolega" target="_blank" rel="noopener noreferrer">kevinolega</a></td>
  </tr>
  <tr>
    <td">photos:</td>
    <td"><a href="https://instagram.com/kevinolega" target="_blank" rel="noopener noreferrer">instagram</a></td>
  </tr>
  <tr>
    <td">latest:</td>
    <td"><a href="https://olega.org/now" target="_blank" rel="noopener noreferrer">what I'm doing now</a></td>
  </tr>
  <tr>
    <td">subscribe:</td>
    <td"><a href="https://sendfox.com/kevinolega" target="_blank" rel="noopener noreferrer">email updates</a></td>
  </tr>
</tbody>
</table>