<!-- notes -->
<h3>personal</h3>
<p>I'm writing fiction for fun with my friends at <a href="https://www.facebook.com/FreshMyth/">Fresh Myth</a>.</p>
<p><a href="https://www.instagram.com/p/BqF7xlBlPSm/">My dog</a> is 
<a href="https://www.instagram.com/p/B4gpVKEn4ZS/">now a father</a> and I'm caring for two pets as part of my schedule.</p>
<p>I'm taking care of <a href="https://www.instagram.com/p/CNIfQyrH9lS/">Missy</a>, my friend's dog.</p>
<p>I'm renting a small apartment that doubles as an office and exercise space.</p>
<p>I spend my free time <a href="https://www.instagram.com/p/BdlqCqkHHJ8/">cycling</a>, <a href="http://minimalchanges.com">blogging</a>, and <a href="https://photos.app.goo.gl/ikZWBgSuOOxXMjaD3">drawing</a>.</p>
<p>I avoid consuming carbs, sugar, and eat mostly 
<a href="http://philippineislandliving.com/carnivore-diet-philippines-first-attempt/">beef and eggs</a>.</p>
<p>I geek out on anime, manga, and J-pop idols.</p>
<p>My website is the best source of information about me, my work, and what I'm doing.</p>
<p>I don't post updates about myself on social media.</p>