<!-- notes -->
<h3>personal</h3>
<p>I'm writing fiction for fun with friends at <a href="https://www.facebook.com/FreshMyth/">Fresh Myth</a>.</p>
<p>I spend my mornings and afternoons hanging out with <a href="https://www.instagram.com/p/BqF7xlBlPSm/">Fluffy</a>, his son
<a href="https://www.instagram.com/p/B4gpVKEn4ZS/">Kuromi</a>, and <a href="https://www.instagram.com/p/CNIfQyrH9lS/">Missy</a>, my friend's dog.</p>
<p>I rent a small apartment that doubles as an office and exercise space.</p>
<p>I am grateful I get to work from home.</p>
<p>I spend my free time <a href="https://www.instagram.com/p/BdlqCqkHHJ8/">cycling</a>, <a href="http://minimalchanges.com">blogging</a>, and <a href="https://photos.app.goo.gl/ikZWBgSuOOxXMjaD3">drawing</a>.</p>
<p>I avoid consuming carbs, sugar, and eat mostly 
<a href="http://philippineislandliving.com/carnivore-diet-philippines-first-attempt/">beef and eggs</a>.</p>
<p>I geek out on anime, manga, and J-pop idols.</p>
