<!-- notes -->
<h3>projects</h3>
<p>I'm working on improving my video editing skills.</p>
<p>I'm also polishing my email marketing skills.</p>
<p>I just completed writing <a href="https://callcentertrainingtips.com/shy-book">my second book</a>.</p>
<p>I sell <a href="https://callcentertrainingtips.com/promos/">English lessons</a> and write <a href="https://callcentertrainingtips.com/free">career advice for BPO workers</a> as part of my communitity service.</p>
<p>I rarely leave home and say <a href="https://olega.org/n">no to all invitations and requests</a>.</p>
<p>I just purchased <a href="https://olega.org">olega.org</a> for my homepage.</p>
<p>I'm migrating all my pages and links to the new URL and polishing my web development chops.</p>