<!-- notes -->
<h3>projects</h3>
<p>I sell my <a href="https://callcentertrainingtips.com/shy-book">books</a> and <a href="https://callcentertrainingtips.com/promos/">training programs</a> on my website.</p>
<p>I write <a href="https://callcentertrainingtips.com/free">career advice for BPO workers</a> as my communitity service.</p>
<p>I'm working on improving my skills in: project management, email marketing, and video editing.</p>
<p>I rarely leave home and say <a href="https://olega.org/n">no to all invitations and requests</a>.</p>